.header_row {
  text-align: center;
  padding-top: 60px;
}
.academic_header h1 {
  font-size: 50px;
  font-weight: 700;
  color: #ff3366;
}
.sec_header {
  font-size: 25px;
  padding-top: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.801);
}
.course_cat {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 17px;
}
.course_cat div {
  min-width: 100px;
  text-align: center;
  font-weight: 600;
  padding: 10px;
  border-radius: 13px;
  cursor: pointer;
  background-color: #f3f4f6;
  margin-left: 28px;
  transition: all 0.1s ease-in-out;
}
.details_button:hover {
  color: white;
  background-color: #989bf4;
}
.details_button {
  background-color: #f3f4f6;
  text-align: center;
  padding: 5px;
  font-weight: 600;
  border-radius: 14px;
  cursor: pointer;
}
.course_cat div:hover {
  color: white;
  background-color: #989bf4bb;
}
.ongoing.active {
  color: white;
  background-color: #989bf4;
}
.upcoming.active {
  color: white;
  background-color: #989bf4;
}
.past.active {
  color: white;
  background-color: #989bf4;
}
