* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
/* .home_wapper {
  min-height: 70vh;
} */
.left_home_content {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
 
}
.left_home_content h1 {
  color: #ff3366;
  font-size: 80px;
  line-height: 85px;
  font-weight: 700;
}
.left_home_content div {
  margin-top: 16px;
  font-size: 30px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.637);
}
.right_home_contnet {
  display: flex;
  text-align: center;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
}
ul {
  list-style: none;
}
.hexagon_wrapper{
  position: relative;
  width: 100%;
  min-height: 100%;
  margin-left: 50px;
  height: 100%;
  margin-top: 40px;
  margin-bottom: 490px;
}
.hexagon_wrapper img{
  width: 200px;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.hexa1{
    position: absolute;
    top:0px;
    z-index: 1;
}
.hexa2{
  position: absolute;
  left: 220px;
}
.hexa3{
  top:190px;
  left: 110px;
  position: absolute;
}

@media only screen and (min-width:1100px){
  .hexagon_wrapper{
    margin-left: 150px;
  }
}