.contact_wapper {
  min-height: 100vh;
}
.contact_header {
  color: #ff3366;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 14px;
  margin-left: 14px;
}
.right_contact_area {
  align-content: center;
  align-items: center;
  padding-left: 30px;
}
.right_contact_area h1 {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.767);
}
.right_contact_area > div {
  font-size: 20px;
}
.right_query_area {
  display: flex;
  padding-left: 30px;
  margin-top: 30px;
  flex-direction: column;
}
.right_query_area h1 {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.767);
}
.right_query_area div {
  font-size: 20px;
}
.right_mail_area {
  padding-left: 30px;
  margin-top: 30px;
}
.right_mail_area h1 {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.767);
}
.right_mail_area div {
  font-size: 20px;
}
.right_contact_section {
  border-left: 1px solid rgba(0, 0, 0, 0.13);
}
#drop_header {
  margin-bottom: 40px;
  margin-top: 20px;
  padding-top: 20px;
}
#drop_header h1 {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  color: #ff3366;
}
